.cart-base {
  background-color: rgba(149, 250, 7, 0.5);
}
.items{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  height:700px;
  width:300px;
}
.cart-total{
  background-color: coral;
  padding:20px;
  text-align: left;
  height:150px;
}
 .checkout{
  background-color:magenta ;
  height:130px;
  padding:20px;
}
.checkout Button{
  width:120px;
  height:120px;
  border-radius:50% ;
  background-color: rgb(206, 245, 12);
  border:7px double #610226;
  outline:none;
  font-size:1.25em ;
  color:Black;
}
.footer{
  background-color:rgb(161, 5, 161) ;
  height:100px;
}