
.add2{
    background-color: rgb(247, 226, 111);
    width:40px;
    height:50px;
    color:black;
}
.minus2{
    background-color: rgb(247, 226, 111);
    width:40px;
    height:50px;
    color:black;
}
.qty{
    background-color: white;
    width:60px;
    color:black;
}